<!DOCTYPE html>
<html lang="en">
<head>
  <title>detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link th:href="@{../css/card.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Bootstrap Core CSS -->
<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />

<!-- CCS for the effects-->
<link th:href="@{../css/effects.min.css}" rel="stylesheet" />
<link th:href="@{../css/ratting.css}" rel="stylesheet" />
<!-- Font Icons -->
<link rel="stylesheet" th:href="@{../css/font-awesome.min.css}" />

<!-- Custom Fonts -->
<link rel="stylesheet" th:href="@{../fonts/stylesheet.css}" />
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 400px;
  }

  .carousel-content img {
      width: 100%;
      height: 250px;
  }

/* Set your background color */
.bg-custom {
    background-color: #333
}
/* Transition effect */
.navbar {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.checked{
    color:orange;
}

#cont1{
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100%;
}

#cont{
    background: #f4f4f4;
    transform: skewY(1.5deg);
    /* height: 200px; */
    position: absolute;
    /* top: 171px; */
    bottom: 0px;
    height: 250px;
    top: 0px;
    width: 100%;
    box-shadow: 0 4px 20px -14px;
    padding: 15px;
}
#googleMap{
        width: 100%;
    height: 300px;
    overflow: hidden;
    position: absolute;
    right: 1%;
    top: 2%;
    width: 45%;
    }

  </style>
</head>
<body onscroll="checkScroll()">
​<div>

    <nav id="test" class="navbar navbar-expand-sm bg-dark  navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        </ul>
      </nav>

    
<div id="demo" class="carousel slide" data-ride="carousel">
    ​
      <!-- Indicators -->
     
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img th:src="@{'/uploadingDir/' + ${site.pictures.get(0).emplacement}}" alt="Marrakech" width="1100" height="500" />
          <div class="carousel-caption d-none d-md-block ">
              <h1 th:text="${site.title}"></h1>
              
            </div>
        </div>
       
      </div>
      
     
    </div>
    <div style="position: absolute;
    top: 71px;
    right: 20px;
    font-size: 35px;">
        <span class="fa fa-star" th:classappend="${site.ratting>=1}? checked : '' " ></span> 
        <span class="fa fa-star" th:classappend="${site.ratting>=2}? checked : '' "></span>
        <span class="fa fa-star" th:classappend="${site.ratting>=3}? checked : '' "></span> 
        <span class="fa fa-star" th:classappend="${site.ratting>=4}? checked : '' "></span>
        <span class="fa fa-star" th:classappend="${site.ratting>=5}? checked : '' "></span>
        <span th:text="${site.ratting}">4.5</span>
    </div>
</div>
   
    <div class="container mt-5">
        <div class="row" style="background: #e1e1e1;
    height: 480px;
    padding: 20px;
    position: relative;">
           
          <div class="col-md-6">
              <h2><b th:text="${site.title}"></b></h2>
              <div id="demo" class="carousel  slide" style="margin-top:-2px;" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li th:each="p:${site.pictures}" data-target="#demo" data-slide-to="0" th:classappend="${p.emplacement==site.pictures.get(0).emplacement}? active : ''"></li>
                    </ul>
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner carousel-content">
                      <div th:each="p:${site.pictures}"  class="carousel-item" th:classappend="${p.emplacement==site.pictures.get(0).emplacement}? active : ''" >
                        <img th:src="@{'/uploadingDir/' + ${p.emplacement}}" alt="..." width="1100" height="500" />
                      </div>
                     
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>
              <p class="mt-2" th:text="${site.description}"></p>
              <p><i th:text="${site.date_creation}"></i>, <i th:text="${site.name}"></i></p>
          </div>

          <div class="col-m-6">
                <div id="googleMap" ></div>
          </div>
          
            
        </div>
        
    </div>
    <div class="container mt-3"> 
        <div class="row">
          <div class="col-md-7" >
            <div class="row">
              <div th:if="${site.comments.size()>0}" class="col-md-12 " style="background: #e1e1e1; padding: 15px; ">
                  <div th:each="c:${site.comments}">
                      <h5 th:text="${c.name}"></h5>
                      <div style="float:right;">
                          <span class="fa fa-star" th:classappend="${c.ratting>=1}? checked : '' " ></span> 
                          <span class="fa fa-star" th:classappend="${c.ratting>=2}? checked : '' "></span>
                          <span class="fa fa-star" th:classappend="${c.ratting>=3}? checked : '' "></span> 
                          <span class="fa fa-star" th:classappend="${c.ratting>=4}? checked : '' "></span>
                          <span class="fa fa-star" th:classappend="${c.ratting>=5}? checked : '' "></span>
                      </div>
                      <p th:text="${c.contenu}"></p>
                      <span class="float-right"><i th:text="${c.date_creation}"></i></span>
                      <hr>
                </div>
              </div>
              <div class="col-md-12 mt-4" style="background: #e1e1e1; padding: 15px; ">
                  <div>
                      <div class="rate" style="display: block; float:none;">
                          <input type="radio" id="star5" name="rate" value="5"
                            onclick="test(5)" /> <label for="star5" title="text">5
                            stars</label> <input onclick="test(4)" type="radio" id="star4" name="rate"
                            value="4" /> <label for="star4" title="text">4 stars</label> <input
                            type="radio" id="star3" name="rate" onclick="test(3)" value="3" />
                          <label for="star3" title="text">3 stars</label> <input
                            onclick="test(2)" type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text">2 stars</label> <input type="radio"
                            id="star1" name="rate" value="1" onclick="test(1)" /> <label
                            for="star1" title="text">1 star</label>
                        </div>
                      <form method="post" th:action="@{addcomment(id=${site.id})}">
                          <input type="number" value="0" hidden name="ratting" id="ratting"/>
                        <div class="form-group">
                          <label>Email</label>
                          <input name="email" type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>nom</label>
                            <input name="name" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label>commentaire</label>
                              <textarea name="contenu" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-secondary">commenter</button>
                      </form>
                    </div>
              </div>
            </div>
             
          </div>
          <div class="col-md-5">
            <div class="row ">
              <div class="col-md-12">
                  <div class="hover ehover1v2">
                      <img style="height:100%;width:100%;" class="img-responsive" src="3.jpg" alt="" />
                      <div style="position: absolute; top: 10px; right:10px;">
                              <span style="font-size: 20px;" class="fa fa-star checked"></span>
                              <span class="fa fa-star checked" style="font-size: 20px;"></span>
                              <span class="fa fa-star checked" style="font-size: 20px;"></span>
                              <span class="fa fa-star" style="font-size: 20px;"></span>
                              <span class="fa fa-star" style="font-size: 20px;"></span>
                      </div>
                      <div class="overlay">
                          <h2>Hover effect 1 v2</h2>
                          <button class="info" data-toggle="modal" data-target="#modal1v2">Show code
                          </button>
                      </div>
                  </div>
              </div>

            </div>
            
      </div>
        </div>
      </div>
      <input type="number" step="0.0000000000000001" id="x" name="x" th:value="${site.x}" hidden> <input
      type="number" step="0.0000000000000001" name="y" id="y" th:value="${site.y}" hidden>

    <footer class="container-fluid bg-dark mt-4" style="height:200px;">

    </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script th:src="@{../script/jquery-3.2.1.min.js}"></script>
<script th:src="@{../js/production.min.js}"></script>


<script>
		function test($i) {
			document.getElementById("ratting").value = $i;
			console.log("here=====>" + $i);
		}
	</script>
	
	
		<script>
	
	const appendChild = Element.prototype.appendChild;
    const urlCatchers = [
        "/AuthenticationService.Authenticate?",
        "/QuotaService.RecordEvent?"
    ];
    Element.prototype.appendChild = function (element) {
        const isGMapScript = element.tagName === 'SCRIPT' && /maps\.googleapis\.com/i.test(element.src);
        const isGMapAccessScript = isGMapScript && urlCatchers.some(url => element.src.includes(url));

        if (!isGMapAccessScript) {
            return appendChild.call(this, element);
        }
        return element;
    }
	
		function myMap() {

			var x=document.getElementById('x').value;
			var y=document.getElementById('y').value;
			var mapProp = {
				center : new google.maps.LatLng(x,y),
				zoom : 12,
			};
			var map = new google.maps.Map(document.getElementById("googleMap"),
					mapProp);
			
			
				var marker = new google.maps.Marker({
				    position: new google.maps.LatLng(x,y),
				    map: map,
				    title: 'Hello World!'
				  });
			
	
		}
		
		
	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL3qzgqg6P8crdHBcQMnOQo7KWFnOkpVs&callback=myMap"></script>
	


</body>
</html>